html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

/*Generals*/
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
}

/* Titulos */
h1,
h2,
h3 {
  color: black;
  text-align: center;
  margin: 2rem 0;
}
h1 span {
  color: rgb(70, 70, 243);
}

/* Navegador Principal */
.contenedor-nav-principal {
  border-top: 1px solid rgba(0, 0, 0, 0.253);
  padding: 2rem 0;
}
.nav-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Hero */
.hero {
  background-image: url(/img/principal.jpg);
  height: 60rem;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Categorias */
.contenedor-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.categoria a {
  display: block;
  text-align: center;
  padding: 2rem;
  border-bottom-right-radius: 2rem;
}
.categoria a:hover {
  background-color: rgb(70, 70, 243);
  color: white;
}

/* Sobre nosotros */
.sobre-nosotros {
  background-image: linear-gradient(
    to right,
    url('../img/nosotros.jpg'),
    url('../img/nosotros.jpg'),
    blue 100%
  );
}

/* Products */
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.producto:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 7;
}
