html {
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* Titulo */
h1 {
  color: rgb(127, 127, 247);
  text-align: center;
}
h1 span {
  color: black;
}

/* Contenedor */
.contenedor {
  width: 1200px;
  margin: 0 auto 0 auto;
}

/* Navegador Principal */
.contenedor-nav-principal {
  border-top: 1px solid rgba(0, 0, 0, 0.333);
  padding: 20px 0 20px 0;
}
.nav-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-principal a {
  text-decoration: none;
  color: black;
}

/* hero */
.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

/* Categorias */
.contenedor-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
